.idea/
.vscode/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.iml
docs/informe/main.aux
docs/informe/main.pdf
docs/informe/main.fls
docs/informe/main.log
docs/informe/main.fdb_latexmk
docs/informe/main.synctex.gz
docs/informe/main.toc